@* @model List<IdentityRole>

<form method="get" action="/Account/GetRoles">
    <!-- Các trường đăng ký khác... -->

    <div class="form-group">
        <label for="Role">Vai trò:</label>
        <select asp-for="role" class="form-select" asp-items="@Model.RoleList" aria-required="true">
            @foreach (var role in roles)
            {
                <option value="@role.Id">@role.Name</option>
            }
        </select>
        <span asp-validation-for="role" class="text-danger"></span>
    </div>
</form> *@